################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Symbioz/.vs/Symbioz/v15
/Symbioz/.vs/Symbioz/v15
/Symbioz/.vs/Symbioz/v15/.suo
