################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Symbioz/.vs
/Symbioz/.vs
/Symbioz/.vs
/Symbioz/bin
!/Symbioz/bin/Debug/config.xml
!/Symbioz/bin/Debug/lang.d2i
!/Symbioz/bin/Debug/SWF
/Symbioz/obj
/Symbioz.D2O/bin
/Symbioz.D2O/obj
