################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Symbioz/.vs
/Symbioz/.vs
/Symbioz/.vs
/Symbioz/bin
!/Symbioz/bin/Debug/config.xml
!/Symbioz/bin/Debug/lang.d2i
!/Symbioz/bin/Debug/SWF
!/Symbioz/bin/Debug/MySql.Data.dll
/Symbioz/obj
/Symbioz.D2O/bin
/Symbioz.D2O/obj
/Symbioz.Helper/bin
/Symbioz.Helper/obj
/Symbioz.ORM/bin
!/Symbioz.ORM/bin/Debug/MySql.Data.dll
/Symbioz.ORM/obj
/Symbioz.Protocol/bin
/Symbioz.Protocol/obj
/Symbioz.SSync/bin
/Symbioz.SSync/obj